.body
{
	font-family: Georgia;
	font-size: 13px;
	font-color: #222222;
}

#header
{
	padding-top: 5px;
	height: 80px;
}

.navbar-inverse {
    background-color: #3355aa;   
    height: 40px;
    font-style: italic;
}

.nav.navbar-nav li a {
    color: white;
    border-right:0.5px solid black;
}

.btn-default
{
	background-color: #3355aa; 
}

.thrid-part
{
	padding-top: 35px;
}

#image1 {
	max-width: 100%;
	padding: 0;
}
.figure {
  
  
  text-align: center;
  font-style: italic;
  font-size: medium;
  padding: 3px;
  border: thin silver solid;
  font-size: 14px;

  
}


#line{
	padding-bottom: 2px;
	
}
.smaller_size
{
	border-bottom: thin silver solid;
	font-size: 10px;
	color: thin silver solid;
	padding-bottom: 10px;
}


#underline1{
	padding-bottom: 5px;
	border-bottom: thin yellow solid;
	color : #3355aa;
    
}

#under{

	border-bottom: thin yellow solid;
	padding-top: 20px;
	color : #3355aa;

}

#spacing{
padding-top: 40px;	
}

#separator{

	margin-top: 45px;
	background-color: grey;
	height:435px;
}
#head{
	padding-top: 25px;
	font-size: 28px;
	padding-top: 25px;
	text-align: center;
}


.box
{
	background-color: white;
	height:280px;
	margin-right:10px;
}

.inner_box
{
	background-color: grey;
	height:250px;
	margin: 5px;
}	

.sector
{
	text-align: center;
	font-size: 16px;
	color: #3355aa;
}

.footer{
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #333333;

	height:80px;

}




#last{
	border-top:solid #3d3d3d 1px;
	font-size:12px;
	padding-bottom: :35px; 
	padding-top:5px;
	color:#3355aa;
}

